body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

.navbar{
background:#222;
color:white;
display:flex;
justify-content:space-between;
padding:15px;
}

.links a{
color:white;
margin:10px;
text-decoration:none;
}

.container{
padding:30px;
}

.page{
background:white;
padding:20px;
border-radius:10px;
}

.hero{
width:100%;
border-radius:10px;
margin-top:20px;
}

.footer{
background:#222;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}

input,textarea{
display:block;
margin:10px 0;
padding:10px;
width:300px;
}

button{
background:#ff6600;
color:white;
border:none;
padding:10px 20px;
cursor:pointer;
}
